.error {
  background-color: #f8d7da;
  width: 338px;
  height: 29px;
  border-radius: 4px;
  color: #721c24;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-error {
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
  padding: 16px;
}
